
.block {
    display:block;
}

.inline {
    display: inline-block;
}

.nav {
    display: flex;
    justify-content: stretch;
    background-color: white;    
}


h1 {
    font-family: Montserrat, Arial;;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: 0.02em;
    font-weight: 450;
}


p {
    font-family: Montserrat, Arial;
}

.pageTitle {
    width:76%;
    justify-content:center;
    align-items:center; 
}

.title {
    
    font-weight: 600;
    font-size: 36px;
    padding: 0% 4% 0% 4%;
    line-height: 50%;    
    text-align: center;     
}


.navHighlight {
    width:45%;
    min-height: 10px;
}


.summary {
    display:flex;
    background-color: white;
}
.heroimg {
    width:50%;
    padding:4% 0% 4% 0%;
    display:flex;
    justify-content: left;
    align-items: center;
}
.content{
    display:flex;
    width:50%;
    padding:4% 0% 4% 0%;
    justify-content: end;
    align-items: flex-start;
    flex-direction: column;
}

.align_right {
    width:100%;
    height:15%;
    display:flex;
    justify-content: flex-end;
    padding: 4% 0%;
}

.align_center {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

button {
    widows: 40%;
    height:100%;
    padding: 3% 5% 3% 5%;
    border-radius:6px;
    color:white;
    font-family: Montserrat, Arial;
    font-size: 18px;
    letter-spacing: 0.02em;
    font-weight: 500;
    align-items: center;
    text-align: center;
    border:0px;    
}


.regular {
    font-family: Montserrat, Arial;
    font-size: 18px;
    line-height: 200%;    
    display: block;
}

p2 {
    padding:2% 0% 2% 0%;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 33px;
    font-weight: bold;
}

footer {
    margin:20px 0px 20px 0px;
    background-color:#F7B5B1;
    display: block;
    
}

.footer_text {
    display:flex;
    width:40%;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.footer_links {
    display: flex;
    justify-content: space-between;
    padding: 2% 5% 0% 5%;
}

section {
    width:80%;
    padding:5% 10% 5% 10%;    
    
}

.skillsContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 1fr;
    grid-template-areas:         
        "skillImg1 skillImg2 skillImg3"
        "skill1 skill2 skill3";
    justify-content: space-between;
    align-items: start;
    margin:20px 0px 20px 0px;

}

.sectionHeader {
    display: flex;        
    justify-content: center;
    align-items: center;
    padding: 0% 0% 3% 0%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
}


.sectionName {    
    color:white;
    border-radius: 50px;
    width:40%; 
    height:100%;    
    text-align: center;
    align-items: center;    
}

.skills_detail {    
    width:96%;
    border: 0% 2% 0% 2%;
    text-align: center;
    justify-self: center;
}

.skill1 {
    width:96%;
    border: 0%;    
    grid-area: skill1;
    justify-self: left;
}

.skill2 {
    width:96%;
    border: 0%;
    grid-area: skill2;
    justify-self: center;
}

.skill3 {
    width:96%;
    border: 0%;
    grid-area: skill3;
    justify-self: right;
}

.skillImg1 {    
    width:92%;
    grid-area: skillImg1;
    justify-self: left;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius:10px;
}

.skillImg2 {    
    width:92%;
    grid-area: skillImg2;
    justify-self: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius:10px;
}

.skillImg3 {    
    width:92%;    
    grid-area: skillImg3;
    justify-self: right;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius:10px;
}


.project {
    width:80%;
    padding:5% 10% 5% 10%; 
}

.project1 {
    width:92%;
    border-radius: 20px;
    padding:0% 4% 0% 4%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-areas:         
        "projectName projectName"        
        "projectSummary projectImg"
        "projectNotes projectButton"
        ;
}

.projectName {
    grid-area: projectName;
}

.projectSummary{
    grid-area: projectSummary;
}

.projectImg {
    width: 100%;    
    display:flex;
    flex-direction: column;
    grid-area: projectImg;
}

.projectNotes {
    grid-area: projectNotes;
}

.projectButton {
    grid-area: projectButton;
}



.button_green {
    background-color:#49A380;
    color:white;
    border:0px;
}